--- 
layout: newblogstyle
title: Blog
background: '/static/img/pagepics/bg-post.jpg'
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
    {% else %}
    <header class="masthead">
        {% endif %}
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>{{ page.title }}</h1>
                        {% if page.description %}
                        <span class="subheading">{{ page.description }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">

                 {% for post in site.posts %}
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <h5 style="text-align: right">
                            {{ post.date | date: "%B %e, %Y" }}
                        </h5>
                    </div>
                    <div class="col-sm-8 col-md-8 col-lg-8">
                        <h5 style="text-align: left">
                            <strong>
                                <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                            </strong>
                        </h5>
                    </div>
                </div>
                {% endfor %}
                
                <!-- Pager -->
                {% if paginator.total_pages > 1 %}
                
                <div class="clearfix">
                
                    {% if paginator.previous_page %}
                    <a class="btn btn-primary float-left" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Older
                        <span class="d-none d-md-inline"> Posts</span>
                    </a>
                    {% endif %} {% if paginator.next_page %}
                    <a class="btn btn-primary float-right" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer
                        <span class="d-none d-md-inline"> Posts</span> &rarr;</a>
                    {% endif %}
                
                </div>
                
                {% endif %}

            </div>
        </div>
    </div>