<section id="gallery">
<div class="container">
  <h1>BMW 2002 Rebuild</h1>
  <div class="panel panel-default">
    <div class="panel-body">

    <h2>
    	Background
    </h2>
    <h5>
        We acquired an old 1969 BMW 2002. Since the car was very old, and in poor condition, we set out to reclaim the relic and turn it 
        into a race car. 
    </h5>
    <h2>
    	Process
    </h2>
    <h5>
    	We wrote a propsal to the school, and the school provided us with some funds to get our project off the ground. From there 
    	we purchased some parts online, but most of the fabrication work we had to do in house.
    </h5>
    <h5>
    	We cut away rusted parts of the car, designed and molded a carbon fiber roof, cut away the body to fit a widebody kit, and refreshed
    	all the electronics inside. We powder coated the rims, and entire subframe. 
    	We rebuilt many of the original parts of the car such as: the steering box, the carburetor, and the pedal box.
    	Some parts, we redesigned entirely, for example we decided to remove the the brake booster (a big cylinder in the braking system that
    	"pushes back" against the driver's foot). Because of this we moved the master cylinder to right behind the brake pedal, and we had to run brake lines
    	under the entire underbody of the car. 
    </h5>
   	<h2>
   		Pictures
   	</h2>


    <iframe src="https://albumizr.com/a/KDFJ" scrolling="no" frameborder="0" allowfullscreen width="700" height="400"></iframe>
    
    

    </div>
  </div>
</div>
</section>