<section id="music">
<div class="container">
  <h3>Music</h3>
  <div class="panel panel-default">
    <div class="panel-body">

        

        <div>
            <h5>

                I've been playing music since I was 4, when my mom introduced me to the world of music. I started out 
                with piano lessons, but eventually I taught myself how to play guitar, drums, and bass as well! 


            </h5>
            <h5>
        
                I love rock and roll, country and alternative. Wanna hear what I've been listening to lately? 
                I regularly maintain several <a href="https://open.spotify.com/user/theochiu" target="_blank">Spotify playlists.</a> 

            </h5>

        </div>

        <div class="avatar">
            <img class="img-responsive" src="{{ site.baseurl }}static/img/guitar.jpg" alt="Guitar pic">
        </div>

<!--
        <h5>
            <i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
            - An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
        </h5>
        <h5>
            <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
            - Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
            ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
        </h5>
        <h5>
            <i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
            - Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
            eam doming blandit facilisis.
        </h5>
        <h5>
            <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
            - Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
            usu ex sapientem gubergren. Tamquam admodum ei usu.
        </h5>
        <h5>
            <i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
            - Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
            tractatos partiendo at, debet ubique oporteat ut his.
        </h5>

-->


    </div>
  </div>
</div>
</section>