<section id="projects">
<div class="container">
  <h3>Projects</h3>
  <div class="panel panel-default">
    <div class="panel-body">
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://github.com/StanfordCosyne/screener" target="_blank">Stanford Neuroscience Screener</a></strong>
			- I worked as an intern at <a href="http://med.stanford.edu/scsnl.html" target="_blank">Stanford's Cognitive & Systems Neuroscience Lab.</a>
			I supported ongoing postdoctoral research by working on a special screener to help diagnose children with 
			<a href="https://en.wikipedia.org/wiki/Dyscalculia" target="_blank">Dyscalculia.</a> The screener has evolved a lot but (at various iterations) has used MongoDB, 
			JavaScript, Phaser, and Firebase. 


		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Automotive Senior Design Project</a></strong>
			- During my senior year in high school I worked on rebuilding an old BMW 2002 as a senior project. We cut out rusted panels on the car, installed a widebody kit, and created
			a carbon fiber roof. 

		</h5>

<!--
    	<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="#">Project 3</a></strong>
			- An alii quot tantas eum, doming platonem persecuti mea et, vim perpetua cotidieque delicatissimi in.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 4</a></strong>
			- Vim an case vidit sententiae, est at euismod laboramus efficiantur. Ei sit brute lorem,
			ea eam timeam viderer aliquid, cu integre omittam moderatius quo.
		</h5>
		<h5>
			<i class="fa fa-globe"></i>&nbsp;&nbsp;<strong><a href="#">Project 5</a></strong>
			- Dicta causae meliore ex vel, in vix erant integre petentium. Vix ei nisl scripta recusabo,
			eam doming blandit facilisis.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 6</a></strong>
			- Inermis recusabo elaboraret mea et, dicat neglegentur vim te. Nec et sanctus scriptorem,
			usu ex sapientem gubergren. Tamquam admodum ei usu.
		</h5>
		<h5>
			<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="#">Project 7</a></strong>
			- Essent putant indoctum sed in, reprimique persequeris neglegentur te quo. Nam rebum
			tractatos partiendo at, debet ubique oporteat ut his.
		</h5>

-->


    </div>
  </div>
</div>
</section>
