---
layout: newblogstyle
---

<!-- OG
<div class="container">
	<div class="blog-post">
		<h1>
		  <strong><a href="{{ page.url }}">{{ page.title }}</a></strong>
		</h1>
	</div>
	<div class="blog-title">
		<h4>
		{{ page.date | date: "%B %e, %Y" }}
			&nbsp;&nbsp;
			{% for tag in page.tags %}
			 <span class="label label-success">{{ tag }}</span>
			{% endfor %}
		</h4>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="blogpost">
			  {{ content }}
			   <hr>
			   <div class="related-posts">
				   <h5>Related Posts</h5>
				   {% for post in site.related_posts limit:3 %}
						<div class="row">
							 <div class="col-sm-4 col-md-4 col-lg-4">
								 <h6 style="text-align: right">
								 	{{ post.date | date: "%B %e, %Y" }}
								 </h6>
							 </div>
							 <div class="col-sm-8 col-md-8 col-lg-8">
								 <h6 style="text-align: left">
								 	<strong><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></strong>
								 </h6>
							 </div>
						</div>
					{% endfor %}
			   </div>
			</div>
		</div>
	</div>
	{% include disqus.html %}
</div>


-->

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
	{% else %}
	<header class="masthead">
		{% endif %}
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="post-heading">
						<h1>{{ page.title }}</h1>
						{% if page.subtitle %}
						<h2 class="subheading">{{ page.subtitle }}</h2>
						{% endif %}
						<span class="meta">Posted by
							<a href="#">Theodore Chiu</a>
							on {{ page.date | date: '%B %d, %Y' }}</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-md-10 mx-auto">

				{{ content }}

				<hr>

				<div class="clearfix">

					{% if page.previous.url %}
					<a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
					 data-placement="top" title="{{ page.previous.title }}">&larr; Previous
						<span class="d-none d-md-inline"> Post</span>
					</a>
					{% endif %} {% if page.next.url %}
					<a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip"
					 data-placement="top" title="{{ page.next.title }}">Next
						<span class="d-none d-md-inline"> Post</span> &rarr;</a>
					{% endif %}

				</div>

			</div>
		</div>
	</div>